<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yogesh Acharya</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css" />
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="/bower_components/scrollreveal/dist/scrollreveal.js"> </script>
    <script src="/bower_components/progressbar.js/dist/progressbar.js"> </script>
    <script src="/bower_components/in-view/dist/in-view.min.js"> </script>
   
    
     <style>

      /* Ensure elements load hidden before ScrollReveal runs */
      .sr,.nav, .navbar, .navbar-brand, .banner-logo, .sub-text, #salem, #quincy, #simplisafe, #army,#experience, #education, #skills { visibility: hidden; }

    </style>
    <style>
    html, body {
   height: 100%;
}
.navbar-nav {
    float: left;
    margin: 0;
    background-color: rgba(245, 245, 220, 0);
}
    	#simplisafe {
    		background-color: #00bd96;
    	}
    	#army {
    		background-color: #00bd96;
    	}
    	
    	#salem {
    			background-color: #fbfbfb ;
    		
    	}
    	#quincy {
    			background-color: #fbfbfb;
    	}
    	#circle1,#circle2,#circle3,#circle4,#circle5,#circle6 {
  margin: 10px;
  width: 100px;
  height: 100px;
}
		
    	
    </style>
  </head>
  <body id="myPage" data-target=".navbar" data-offset="60">
  	<!--banner-->
	<section id="banner" class="banner">
		<div class="bg-color">
			<nav class="navbar navbar-default navbar-fixed-top">
			  <div class="container">
			  	<div class="col-md-12">
				    <div class="navbar-header">
				      <a class="navbar-brand sliderz" href="#banner"><img src="/images/brand.png" class="img-responsive" style=" margin-top: -16px;"></a>
				    </div>
				    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
				      <ul class="nav navbar-nav">
				        <li class="active"><a href="#banner" class="sliderz">Home</a></li>
				        <li class=""><a href="#education" class="sliderz">Education</a></li>
				        <li class=""><a href="#experience" class="sliderz">Experience</a></li>
				        <li class=""><a href="#skills" class="sliderz">Skills</a></li>
				        <li class=""><a href="#contact" class="sliderz">Contact</a></li>
				      </ul>
				    </div>
				</div>
			  </div>
			</nav>
			<div class="container">
				<div class="row">
					<div class="banner-info text-center">
						<div class="banner-logo text-center">
							<img src="/images/logo.png" class="img-responsive" style=" margin-top: -16px; width:30%">
						</div>
						<div class="text-center">
						  <div class="sub-text">

							<h1>Yogesh Acharya</h1>
							<p>A conscientious, fast learner offering the ability to assess an organization’s needs and create a complementary, robust web presence.</p>

              </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ banner-->
	<!--Education-->
<section id="education" class="hero is-light is-bold section-padding">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Education
      </h1>
      <h2 class="subtitle">
        Yogesh Acharya
      </h2>
      <div class="container">
		<div class="columns">
			<div  class="column">
										  <div id="salem" class="card">
										  <div class="card-content">
										    <div class="media">
										      <div class="media-left">
										        <figure class="image is-128x128">
										          <img src="https://www.higheredjobs.com/images/AccountImages/881_1.jpg" alt="Image">
										        </figure>
										      </div>
										      <div class="media-content">
										        <p class="title is-4"> Salem State University</p>
										        <p class="subtitle is-6">Salem, MA</p>
										      </div>
										    </div>

										    <div class="content">
										      B.S. Computer Science
										      <br>
										      <small>2014</small>
										    </div>
										  </div>
										</div>

								</div>

		<div class="column">
										  <div  id="quincy" class="card">
										  <div class="card-content">
										    <div class="media">
										      <div class="media-left">
										        <figure class="image is-128x128">
										          <img src="https://tisc-yrklscv.netdna-ssl.com/wp-content/uploads/2014/10/quincy-college2-e1444015739899.jpg" alt="Image">
										        </figure>
										      </div>
										      <div class="media-content">
										        <p class="title is-4"> Quincy College</p>
										        <p class="subtitle is-6">Quincy, MA</p>
										      </div>
										    </div>

										    <div class="content">
										      Associates in Natural Science
										      <br>
										      <small>2011-2012</small>
										    </div>
										  </div>
										</div>

								</div>
		</div>
		</div>
		</div>
		</div>
	</section>
	<!--/-->
	<!--Experience-->
<section id="experience" class="hero is-primary is-bold section-padding">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Experience
      </h1>
      <h2 class="subtitle">
        Yogesh Acharya
      </h2>
      <div class="container">
      	<div class="columns">
			<div class="column">
										  <div id="simplisafe" class="card">
										  <div class="card-content">
										    <div class="media">
										      <div class="media-left">
										        <figure class="image is-128x128">
										          <img src="http://simplisafe.com/files/images/presskit/presskit_ss_logo_2_lg.png" alt="Image">
										        </figure>
										      </div>
										      <div class="media-content">
										        <p class="title is-4"> Simplisafe Inc.</p>
										        <p class="subtitle is-6">294 Washington St <br> Boston, MA</p>
										      </div>
										    </div>

										    <div class="content">
										      Base Station Magician
										      <br>
										      <small>2016 - Current</small>
										    </div>
										  </div>
										</div>

								</div>

		<div class="column">
										  <div id="army" class="card is-transparent">
										  <div class="card-content">
										    <div class="media">
										      <div class="media-left">
										        <figure class="image is-128x128">
										          <img src="https://vignette2.wikia.nocookie.net/callofduty/images/e/eb/United_States_Army_logo.png" alt="Image">
										        </figure>
										      </div>
										      <div class="media-content">
										        <p class="title is-4"> United States Army</p>
										        <p class="subtitle is-6">Department of Defense</p>
										      </div>
										    </div>

										    <div class="content">
										      Private First Class
										      <br>
										      Chemical Biological Radioactive Nuclear Specialist
										      <small>2014- Current</small>
										    </div>
										  </div>
										</div>

								</div>


		</div>




      </div>
    </div>
  </div>
</section>
	<!--/ about-->
	<!--cta-->
	<section id="skills" class="hero is-info is-bold is-large">
 <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Skills
      </h1>
      <div class="columns">
      	<div class="column">
      		<div id="circle1" 
      			<div class="has-text-centered">
      				<p class="has-text-centered">HTML</p>
      				</div>
      		</div>
      	<div class="column">
      		<div id="circle2"><div class="has-text-centered">
      				<p class="has-text-centered">CSS</p>
      				</div>
      				</div>
      	</div>
      	<div class="column">
      		<div id="circle3"><div class="has-text-centered">
      				<p class="has-text-centered">Javascript</p>
      				</div>
      				</div>
      	</div>
      	<div class="column">
      		<div id="circle4">
      			<div class="has-text-centered">
      				<p class="has-text-centered">Node.js</p>
      				</div>
      		</div>
      	</div>
      	<div class="column">
      		<div id="circle5">
      			<div class="has-text-centered">
      				<p class="has-text-centered">Express</p>
      				</div>
      		</div>
      	</div>
      	<div class="column">
      		<div id="circle6">
      			<div class="has-text-centered">
      				<p class="has-text-centered">MongoDB</p>
      				</div>
      		</div>
      	</div>
      	
      	
      </div>
     </div>
    </div>
  </div>
</section>


	<!--contact-->
	<section id="contact" class="hero section-padding is-primary is-bold">
		<div class=" hero-body container">
			<div class="row">
				<div class="col-md-12">

					<hr class="botm-line">
				</div>
				<div class="col-md-4 col-sm-4">
			      <h3>Contact Info</h3>
			      <div class="space"></div>
			      <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>Yogesh Acharya<br>
			        67 Home Street Malden MA 02148</p>
			      <div class="space"></div>
			      <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>yogesh103@icloud.com</p>
			      <div class="space"></div>
			      <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>+1 617-817-8253</p>
			    </div>
				<div class="col-md-8 col-sm-8 marb20">
					<div class="contact-info">
							<h3 class="cnt-ttl">Contact Me</h3>
							<div class="space"></div>
                            <div id="sendmessage">Your message has been sent. Thank you!</div>
                            <div id="errormessage"></div>
							<form action="" method="post" role="form" class="contactForm">
							    <div class="form-group">
                                    <input type="text" name="name" class="form-control br-radius-zero" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control br-radius-zero" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control br-radius-zero" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control br-radius-zero" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>

								<div class="form-action">
									<button type="submit" class="btn btn-form">Send Message</button>
								</div>
							</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ contact-->
	<!--footer-->
	<footer id="footer">
	</footer>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
     <script>
     $( document ).ready(function() {
  	$('.sliderz').click(function(event) {
  		var linkHref = $(this).attr('href');
  		$('html,body').animate({
  			scrollTop: $(linkHref).offset().top
  		},2000);
		event.preventDefault();
		});
});

	</script>
 
 
  <script>

 var circle = new ProgressBar.Circle('#circle1', {
 color: '#FFEA82',
  trailColor: '#eee',
  trailWidth: 1,
  duration: 8000,
  easing: 'bounce',
  strokeWidth: 6,
  from: {color: '#FFEA82', a:0},
  to: {color: '#ED6A5A', a:1},
  // Set default step function for all animate calls
  step: function(state, circle) {
    circle.path.setAttribute('stroke', state.color);
  }

});
 var circle1 = new ProgressBar.Circle('#circle2', {
 color: '#FFEA82',
  trailColor: '#eee',
  trailWidth: 1,
  duration: 8000,
  easing: 'bounce',
  strokeWidth: 6,
  from: {color: '#FFEA82', a:0},
  to: {color: '#ED6A5A', a:1},
  // Set default step function for all animate calls
  step: function(state, circle) {
    circle.path.setAttribute('stroke', state.color);
  }

});
 var circle2 = new ProgressBar.Circle('#circle3', {
 color: '#FFEA82',
  trailColor: '#eee',
  trailWidth: 1,
  duration: 8000,
  easing: 'bounce',
  strokeWidth: 6,
  from: {color: '#FFEA82', a:0},
  to: {color: '#ED6A5A', a:1},
  // Set default step function for all animate calls
  step: function(state, circle) {
    circle.path.setAttribute('stroke', state.color);
  }

});
 var circle3 = new ProgressBar.Circle('#circle4', {
 color: '#FFEA82',
  trailColor: '#eee',
  trailWidth: 1,
  duration: 8000,
  easing: 'bounce',
  strokeWidth: 6,
  from: {color: '#FFEA82', a:0},
  to: {color: '#ED6A5A', a:1},
  // Set default step function for all animate calls
  step: function(state, circle) {
    circle.path.setAttribute('stroke', state.color);
  }

});
 var circle4 = new ProgressBar.Circle('#circle5', {
 color: '#FFEA82',
  trailColor: '#eee',
  trailWidth: 1,
  duration: 8000,
  easing: 'bounce',
  strokeWidth: 6,
  from: {color: '#FFEA82', a:0},
  to: {color: '#ED6A5A', a:1},
  // Set default step function for all animate calls
  step: function(state, circle) {
    circle.path.setAttribute('stroke', state.color);
  }

});
 var circle5 = new ProgressBar.Circle('#circle6', {
 color: '#FFEA82',
  trailColor: '#eee',
  trailWidth: 1,
  duration: 8000,
  easing: 'bounce',
  strokeWidth: 6,
  from: {color: '#FFEA82', a:0},
  to: {color: '#ED6A5A', a:1},
  // Set default step function for all animate calls
  step: function(state, circle) {
    circle.path.setAttribute('stroke', state.color);
  }

});


  </script>

 <script>
			window.sr = ScrollReveal();
			sr.reveal('.navbar-brand',{
				duration:2000,
				origin:'left',
				distance:'300px',
				viewFactor: 0.2
			});
			sr.reveal('.nav',{
				duration:6000,
				origin:'top',
				distance:'300px'
			});
				sr.reveal('.banner-logo',{
				duration:2000,
				scale:3,
				origin:'top',
				easing: 'cubic-bezier(0.6, 0.2, 0.1, 1)',
			});
			sr.reveal('.sub-text',{
				duration:2000,
				delay:1000,
				origin:'bottom',
				easing: 'cubic-bezier(0.6, 0.2, 0.1, 1)',
				distance: '20px'
			});
				sr.reveal('#education',{
				duration:1000,
				delay:0,
				reset: true,
				viewFactor: 0.1,
				origin:'left',
				easing: 'hustle',
				distance: '2000px'
			});
				sr.reveal('#salem',{
				duration:1000,
				reset: true,
				delay:0,
				viewFactor: 0.2,
				origin:'left',
				easing: 'cubic-bezier(0.6, 0.2, 0.1, 1)',
				distance: '2000px'
			});
				sr.reveal('#quincy',{
				duration:1000,
				reset: true,
				delay:0,
				viewFactor: 0.2,
				origin:'right',
				easing: 'cubic-bezier(0.6, 0.2, 0.1, 1)',
				distance: '2000px'
			});
				sr.reveal('#experience',{
				duration:1000,
				delay:0,
				reset: true,
				viewFactor: 0.1,
				origin:'left',
				easing: 'cubic-bezier(0.6, 0.2, 0.1, 1)',
				distance: '2000px'
			});
				sr.reveal('#simplisafe',{
				duration:1000,
				reset: true,
				delay:0,
				viewFactor: 0.2,
				origin:'left',
				easing: 'cubic-bezier(0.6, 0.2, 0.1, 1)',
				distance: '2000px'
			});
				sr.reveal('#army',{
				duration:1000,
				reset: true,
				delay:0,
				viewFactor: 0.2,
				origin:'right',
				easing: 'cubic-bezier(0.6, 0.2, 0.1, 1)',
				distance: '2000px'
			});
				sr.reveal('#skills',{
				duration:1000,
				reset: true,
				delay:0,
				viewFactor: 0.2,
				origin:'right',
				easing: 'cubic-bezier(0.6, 0.2, 0.1, 1)',
				distance: '2000px',
				beforeReveal: function (domEl) {
						inView('#circle1').on('enter', circle.animate(0.0));

					inView('#circle2').on('enter', circle1.animate(0.0));

					inView('#circle3').on('enter', circle2.animate(0.0));

					inView('#circle4').on('enter', circle3.animate(0.0));
   
					inView('#circle5').on('enter', circle4.animate(0.0));

					inView('#circle6').on('enter', circle5.animate(0.0));
					
				},
				beforeReset: function (domEl) {
					
					inView('#circle1').on('enter', circle.animate(0.0));

					inView('#circle2').on('enter', circle1.animate(0.0));

					inView('#circle3').on('enter', circle2.animate(0.0));

					inView('#circle4').on('enter', circle3.animate(0.0));
   
					inView('#circle5').on('enter', circle4.animate(0.0));

					inView('#circle6').on('enter', circle5.animate(0.0));
				
				},
					afterReveal: function (domEl) {
						inView('#circle1').on('enter', circle.animate(0.9));

					inView('#circle2').on('enter', circle1.animate(0.85));

					inView('#circle3').on('enter', circle2.animate(0.87));

					inView('#circle4').on('enter', circle3.animate(0.75));
   
					inView('#circle5').on('enter', circle4.animate(0.70));

					inView('#circle6').on('enter', circle5.animate(0.65));
					
				},
					afterReset: function (domEl) {
					
					inView('#circle1').on('enter', circle.animate(0.0));

					inView('#circle2').on('enter', circle1.animate(0.0));

					inView('#circle3').on('enter', circle2.animate(0.0));

					inView('#circle4').on('enter', circle3.animate(0.0));
   
					inView('#circle5').on('enter', circle4.animate(0.0));

					inView('#circle6').on('enter', circle5.animate(0.0));
				
				}
			})
			

  </script>

  </body>
</html>
